---
title: 過去の戦績
---

{% include breadcrumb.html list="/game/, 試合結果" %}

<h1 id="bg3">過去の戦績</h1>

<table class="old-game-table">
    {% for row in site.data.old-games %}
    {% if forloop.first %}
    <tr>
        <th>年</th>
        <th>戦績</th>
    </tr>
    {% endif %}

    <tr>
        <td class='col-year'>
            {{ row.year }}<br />({{ row.jyear }})
        </td>
        <td class='col-results'>{{ row.results }}</td>
    </tr>
    {% endfor %}
</table>

<p><a href="/game/">試合結果一覧へ戻る</a></p>