---
social_description: "都立西高アメフト部OWLS公式HP。都立西高の歴史ある部活動です。チームのプロフィール、歴史、選手とスタッフ、試合情報、卒業生の活躍の情報などを発信しています。"
---

<script src="/assets/js/slide.js"></script>
<div id="slideGalley">
    <ul class="slide">
        {% for item in site.data.slide %}
        <li><img src="/assets/images/{{ item.url }}" alt=""></li>
        {% endfor %}
    </ul>
    <div class="nav">
        <img src="/assets/images/nav_prev.png" class="prev" alt="previous">
        <img src="/assets/images/nav_next.png" class="next" alt="next">
    </div>
</div>

<div class="top-games">
    {% if site.data.next-games %}
    <div class="top-games-unit">
        <h2 id="next-games">
            <span class="material-icons">sports_football</span>
            <span>GAME SCHEDULE</span>
        </h2>
        <div class="top-games-container">
            {% for game in site.data.next-games %}
            <p>
                <a {% if game.url %}href="{{ game.url }}" {% endif %}>
                    <span class="sub-info">
                        {{ game.name }}<br />
                        {{ game.date | date: "%Y年%m月%d日" }} {{ game.start_at }}<br />
                        @ {{ game.place }}<br />
                    </span>
                    <span class="main-info">
                        vs. {{ game.vs }}
                    </span>
                </a>
            </p>
            {% endfor %}
        </div>
    </div>{% endif %}<div class="top-games-unit">
        {% assign latest_game = site.games | last %}
        {% assign latest_year = latest_game.date | date: "%Y" %}
        <h2 id="recent-games">
            <span class="material-icons">sports_football</span>
            <span>RECENT GAMES</span>
        </h2>
        <div class="top-games-container">
            {% for game in site.games reversed %}{%
                assign this_year = game.date | date: "%Y" %}{%
                    if this_year == latest_year and latest_game.season == game.season %}
            <p>
                <a href="{{ game.url }}">
                    <span class="sub-info">
                        {{ game.game_name }}<br />
                        {{ game.date | date: "%Y年%m月%d日" }} {{ game.start_at }}<br />
                        @ {{ game.place }}<br />
                    </span>
                    <span class="main-info">
                        {% if game.result == 'win' %}○{% elsif game.result == 'lose' %}×{% else %}△{% endif %}
                        <span class="score">{{ game.our_score }} - {{ game.vs_score }}</span>
                        vs. {{ game.vs }}
                    </span>
                </a>
            </p>
            {% endif %}{% endfor %}
            <p class="more-link">
                <a href="/game/">
                    more
                </a>
            </p>
        </div>
    </div>
</div>

<h2 class="toppage-heading">TOPICS</h2>
{% assign posts_to_show = "" | split: "" %}
{% for post in site.posts limit: 6 %}
{% assign posts_to_show = posts_to_show | push: post %}
{% endfor %}
{% include topics_list.html posts=posts_to_show %}

<ul class='top-content-links'>
    <li style='background-image: url("/assets/images/bg1.jpg")'>
        <a href="/team/">
            ABOUT THE TEAM
        </a>
    </li>
    <li style='background-image: url("/assets/images/bg2.jpg")'>
        <a href="/message/">
            MESSAGES
        </a>
    </li>
</ul>

<h2 class="toppage-heading">OWLS ソーシャルアカウント</h2>
<ul class="top-sns-box">
    <li id='facebook-box'>
        <a href="https://www.facebook.com/%E9%83%BD%E7%AB%8B%E8%A5%BF%E9%AB%98OWLS-199121000156356">
            <img src="/assets/images/facebook-white.png" width="40" alt="Facebook" /><br />
            Facebook
        </a>
    </li>
    <li id='twitter-box'>
        <a href="https://twitter.com/nishi__owls">
            <img src="/assets/images/twitter-white.png" width="40" alt="Twitter" /><br />
            Twitter
        </a>
    </li>
    <li id='instagram-box'>
        <a href="https://www.instagram.com/nishi_owls/">
            <img src="/assets/images/instagram-white.png" width="40" alt="Instagram" /><br />
            Instagram
        </a>
    </li>
</ul>