---
---

<script type="text/javascript" src="/assets/js/slide.js"></script>
<div id="slideGalley">
    <ul class="slide">
        {% for item in site.data.slide %}
        <li><img src="/assets/images/{{ item.url }}" alt=""></li>
        {% endfor %}
    </ul>
    <div class="nav">
        <img src="/assets/images/nav_prev.png" class="prev">
        <img src="/assets/images/nav_next.png" class="next">
    </div>
</div>

{% assign game = site.games | last %}
{% if game %}
<h2>最新の試合結果</h2>
<p>
    <a href="{{ game.url }}">{{ game.date | date: "%Y年%m月%d日" }}<br />
        都立西高 {{ game.our_score }} - {{ game.vs_score }} {{ game.vs }}</a>
</p>
{% endif %}

<h2>TOPICS</h2>
{% assign posts_to_show = "" | split: "" %}
{% for post in site.posts limit: 6 %}
{% assign posts_to_show = posts_to_show | push: post %}
{% endfor %}
{% include topics_list.html posts=posts_to_show %}

<h2 id="sns-heading">OWLS ソーシャルアカウント</h2>
<ul class="top-sns-box">
    <li id='facebook-box'>
        <a href="https://www.facebook.com/%E9%83%BD%E7%AB%8B%E8%A5%BF%E9%AB%98OWLS-199121000156356">
            <img src="/assets/images/facebook-white.png" width="40" alt="Facebook logo" /><br />
            Facebook
        </a>
    </li>
    <li id='twitter-box'>
        <a href="https://twitter.com/nishi__owls">
            <img src="/assets/images/twitter-white.png" width="40" alt="Twitter logo" /><br />
            Twitter
        </a>
    </li>
    <li id='instagram-box'>
        <a href="https://www.instagram.com/nishi_owls/">
            <img src="/assets/images/instagram-white.png" width="40" alt="Instagram logo" /><br />
            Instagram
        </a>
    </li>
</ul>

</div>