---
title: OWLSの歴史
social_description: "1948年創部からのチームの歴史を紹介します。タッチフットボール部の時代から、関東高校アメフトの草分け的存在としてのOWLSを振り返ります。"
social_image: "/assets/images/team/history.jpg"
---

{% include breadcrumb.html list="/team/, チーム" %}

<h1 id="bg1">OWLSの歴史</h1>

<!-- TODO can we put img after h2? -->

{% for item in site.data.history %}
<div class="team-history-main-container">
    {% if item.image %}
    <img src={{item.image.picture}} alt={{item.image.alttext}}>
    {% endif %}

    <h2><span class="year">{{item.year}}</span> {{item.title}}</h2>

    <div class="team-history-content">
        {% for paragraph in item.content %}
        <p>
            {{paragraph}}
        </p>
        {% endfor %}
    </div>
</div>
{% endfor %}

<p>過去の試合結果については<a href="/game/old-games.html">過去の戦績</a>のページもご覧ください。</p>

<p><a href="/team/">チーム紹介に戻る</a></p>