---
title: 現役選手・スタッフ一覧
social_description: "OWLSの現役チームメンバーを紹介します。"
social_image: "/assets/images/team/member.jpg"
---

{% include breadcrumb.html list="/team/, チーム" %}

<h1 id="bg1">現役選手・スタッフ一覧</h1>

<table class="team-member-table">
    {% for row in site.data.member %}
    {% if forloop.first %}
    <tr>
        {% for pair in row %}
        <th>{{ pair[0] }}</th>
        {% endfor %}
    </tr>
    {% endif %}

    <tr>
        {% for pair in row %}
        <td class='col{{ forloop.index }}'>{{ pair[1] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<p>（2021年夏現在）</p>

<p><a href="/team/">チーム紹介へ戻る</a></p>