---
title: コーチ・スタッフ一覧
social_description: "OWLSの現役メンバーを支えるコーチ・スタッフ陣を紹介します。大学生OBだけでなく、大学生や社会人での選手・スタッフ経験者が指導しています。"
social_image: "/assets/images/team/staff.jpg"
---

{% include breadcrumb.html list="/team/, チーム" %}

<h1 id="bg1">コーチ・スタッフ一覧</h1>

<div class="staff-list">
    {% for staff in site.data.staff %}
    <div class="staff-box">
        <h2>{{ staff.position }}<br />{{ staff.name }}</h2>
        <div class="staff-main">
            <img src="/assets/images/staff/{% if staff.photo %}{{ staff.photo }}{% else %}no_image.gif{% endif %}"
                alt="{{ staff.name }}" />

            <dl>
                {% if staff.year %}
                <dt>年度</dt>
                <dd>{{ staff.year }}</dd>
                {% endif %}
                {% if staff.univ %}
                <dt>大学</dt>
                <dd>{{ staff.univ }}</dd>
                {% endif %}
                {% if staff.play_experience %}
                <dt>選手歴</dt>
                <dd>{{ staff.play_experience | newline_to_br}}</dd>
                {% endif %}
                {% if staff.coach_experience %}
                <dt>指導歴</dt>
                <dd>{{ staff.coach_experience | newline_to_br }}</dd>
                {% endif %}
            </dl>
        </div>
        {% if staff.profile %}
        <div class="staff-content">
            <h3>Profile</h3>
            {% assign lines = staff.profile | newline_to_br | split: '<br />' %}
            {% for line in lines %}
            <p>{{line}}</p>
            {% endfor %}
        </div>
        {% endif %}{% if staff.message %}
        <div class="staff-content">
            <h3>Message</h3>
            {% assign lines = staff.message | newline_to_br | split: '<br />' %}
            {% for line in lines %}
            <p>{{ line }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<p><a href="/team/">チーム紹介へ戻る</a></p>