{% comment %} filter by year from all games. {% endcomment %}
{% assign games = "" | split: "" %}
{% for game in site.games %}
{% comment %} extract year and make it number. {% endcomment %}
{% assign year = game.date | date : "%Y" | plus: 0 %}
{% if year == include.year %}
{% assign games = games | push: game %}
{% endif %}
{% endfor %}

{% assign games_spring = games | where: "season", "spring" | reverse %}
{% assign games_fall = games | where: "season", "fall" | reverse %}

{% if games_fall.size > 0 %}
{% include game_season.html title="秋季大会" games=games_fall %}
{% endif %}

{% if games_spring.size > 0 %}
{% include game_season.html title="春季大会" games=games_spring %}
{% endif %}