{% for game in include.games %}
<a href="{{ game.url }}" class="game-result-quick">
    <h3 class="game-result-quick-col">
        {{ game.game_name }}
    </h3>
    <div class="game-result-quick-col">
        {{ game.date | date: "%m月%d日" }} {{ game.start_at }}
    </div>
    <div class="game-result-quick-col">
        {{ game.place }}
    </div>
    <div class="game-result-quick-col">
        vs. {{ game.vs }}
    </div>
    <div class="game-result-quick-col">
        {% if game.result == 'win' %}○{% elsif game.result == 'lose' %}×{% else %}△{% endif %}
        <span class="score">{{ game.our_score }} - {{ game.vs_score }}</span>
    </div>
</a>
{% endfor %}