{% for game in include.games %}
<div class="game-result-quick">
    <h3 class="game-result-quick-col">
        <a href="{{ game.url }}">{{ game.game_name }}</a>
    </h3>
    <div class="game-result-quick-col">
        {{ game.date | date: "%m月%d日" }} {{ game.start_at }}
    </div>
    <div class="game-result-quick-col">
        {{ game.place }}
    </div>
    <div class="game-result-quick-col">
        vs. {{ game.vs }}
    </div>
    <div class="game-result-quick-col">
        {% if game.our_score > game.vs_score %}○{% elsif game.vs_score > game.our_score %}×{% else %}△{% endif %}
        {{ game.our_score }} - {{ game.vs_score }}
    </div>
</div>
{% endfor %}