<img src="/assets/images/logo.png" height="120" alt=OWLS">OWLS 都立西高校アメリカンフットボール部<br />
<nav id="navbar">
    <ul id="menu">
        {% for item in site.data.navigation %}
        <li><a href="{{ item.link }}" {% if page.url==item.link %}class="current" {% endif %}>{{ item.name }}</a>
            {% if item.subitems %}
            <ul class="sub">
                {% for subitem in item.subitems %}
                <li><a href="{{ subitem.link }}" {% if page.url==subitem.link %}class="current" {% endif %}>{{
                        subitem.name }}</a>
                    {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
</nav>