table.game-result-detail {
    // TODO with 100% for start phones.
    font-size: 150%; // no need in start phones, 120% for tablets
    margin: auto;

    th,
    td {
        padding-left: 20px; // TODO mabye no need in smart phones and tablets
        padding-right: 20px; // TODO maybe no need in smart phones and tablets
        text-align: center;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
    }
}

.game-result-quick {
    width: 100%;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    border-bottom: 1px solid #bfbfbf;
    padding: 1.3em 10px;

    .game-result-quick-col {
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        border-right: 1px solid #bfbfbf;
        box-sizing: border-box;

        &:last-child {
            border-right: none;
        }

        a:any-link {
            color: black;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    &:nth-child(2n) {
        background-color: #e7e7e7;
    }
}

@media screen and (max-width: $max-mobile-width) {
    .game-result-quick {
        display: flex;
        flex-wrap: wrap;
        padding: 1em 10px 0;

        .game-result-quick-col {
            padding: 0.2em 0;
        }

        h3.game-result-quick-col {
            width: 100%;
            border-right: none;

            a {
                display: block;
                line-height: 120%;
            }
        }

        div.game-result-quick-col {
            width: 50%;
            border-top: 1px solid #bfbfbf;

            font-size: 90%;

            &:nth-child(odd) {
                border-right: none;
            }
        }
    }
}

// Make twitter instagram embededing align center.
.game-report-contnt {
    .twitter-tweet,
    .instagram-media {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

table.old-game-table {
    margin: 1em auto;

    td {
        border-top: 1px solid #ddd;
        padding: 3px;

        &.col1,
        &.col2 {
            text-align: center;
        }
        &.col3 {
            white-space: pre;
        }
    }

    tr {
        &:nth-child(odd) {
            background-color: #f9f9f9;
        }

        &:hover {
            background-color: #f3f3f3;
        }
    }
}
