.game-navigation {
    margin: 1em 0;
    a {
        display: block;
        width: 30%;
        font-size: 90%;

        &.prev {
            float: left;
        }

        &.next {
            float: right;
            text-align: right;
        }

        &:any-link {
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        font-weight: bold;
        text-align: center;
        width: 30%;
        margin: 0 auto;
    }

    &:after {
        height: 0;
        visibility: hidden;
        content: "";
        display: block;
        clear: both;
    }
}

@media screen and (max-width: $max-tablet-width) {
    .game-navigation {
        a {
            width: 50%;
        }
        p {
            clear: both;
            width: 100%;
            padding: 0;
        }
    }
}

table.game-result-detail {
    font-size: 150%;
    margin: auto;

    th,
    td {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
    }

    tr:first-child {
        background-color: #f3f3f3;
    }
}

@media screen and (max-width: $max-tablet-width) {
    table.game-result-detail {
        font-size: 120%;

        th,
        td {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
}

@media screen and (max-width: $max-mobile-width) {
    table.game-result-detail {
        font-size: 100%;
    }
}

a:any-link.game-result-quick {
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    border-bottom: 1px solid #bfbfbf;
    padding: 1.3em 10px;

    color: black;
    text-decoration: none;
    width: 100%;

    .game-result-quick-col {
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        border-right: 1px solid #bfbfbf;
        box-sizing: border-box;

        &:last-child {
            border-right: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .score {
            font-size: 125%;
            font-weight: bold;
        }
    }

    &:nth-child(2n) {
        background-color: #e7e7e7;
    }
}

@media screen and (max-width: $max-mobile-width) {
    a:any-link.game-result-quick {
        display: flex;
        flex-wrap: wrap;
        padding: 1em 10px 0;

        .game-result-quick-col {
            padding: 0.2em 0;
        }

        h3.game-result-quick-col {
            width: 100%;
            border-right: none;

            a {
                display: block;
                line-height: 120%;
            }
        }

        div.game-result-quick-col {
            width: 50%;
            border-top: 1px solid #bfbfbf;
            border-right: none;

            font-size: 90%;

            // order vertically.
            &:nth-child(2n) {
                order: 1;
            }
            &:nth-child(2n + 1) {
                order: 2;
            }

            .score {
                font-size: 100%;
            }
        }
    }
}

// Make twitter instagram embededing align center.
.game-report-contnt {
    .twitter-tweet,
    .instagram-media {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

table.old-game-table {
    margin: 1em auto;

    td {
        border-top: 1px solid #ddd;
        padding: 3px;

        &.col1,
        &.col2 {
            text-align: center;
        }
        &.col3 {
            white-space: pre;
        }
    }

    tr {
        &:nth-child(odd) {
            background-color: #f9f9f9;
        }

        &:hover {
            background-color: #f3f3f3;
        }
    }
}

.game-report-detail {
    h3 {
        cursor: pointer;
        position: relative;
        padding: 5px 0 5px 25px;
        border-bottom: 1px solid silver;
        font-size: 110%;

        &:before {
            content: "";
            position: absolute;
            left: 5px;
            top: 10px;
            display: block;
            width: 8px;
            height: 8px;

            border-top: solid 3px #701301;
            border-right: solid 3px #701301;
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            transition: all 0.5s ease-in-out;
        }

        &.open:before {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 45%;
        }
    }
    p {
        margin: 0 1em 1em;
        white-space: pre-line;
        font-size: 90%;
    }
}
