$hover-color: rgb(255, 232, 219);

table.game-result-detail {
    font-size: 150%;
    margin: auto;

    th,
    td {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
    }
}

// Make twitter instagram embededing align center.
.game-report-contnt {
    .twitter-tweet,
    .instagram-media {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
