* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 100%;
}

header {
  max-width: $main-width;
  margin-left: auto;
  margin-right: auto;

  img {
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .titles {
    float: left;
    padding-top: 10px;

    .title1 {
      font-family: "Hammersmith One", sans-serif;
      font-size: 50px;
      line-height: 50px;
    }
    .title2 {
      padding-left: 5px;
      font-size: 25px;
      line-height: 25px;
    }
  }

  .socials {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
  }

  a,
  a:hover,
  a:visited {
    color: black;
    text-decoration: none;
  }

  &:after {
    /* clear:both */
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
  }
}

#main {
  max-width: $main-width;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #701301;
  color: #f9eec4;
  text-align: center;
  font-size: 85%;

  a {
    color: white;
  }
}

h2 {
  padding: 10px 25px;
  line-height: 1.5;
  color: #fff;
  background-color: #222222;
  font-size: 110%;
  position: relative;
  margin-top: 1em;

  &:before {
    content: "";
    display: block;
    width: 5px;
    height: 60%;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #c00000;
  }
}

p {
  margin: 1em 0;
}
