* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 100%;
}

body {
  font-family: sans-serif;
}

header {
  max-width: $main-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  img {
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;

    &#owls-logo {
      width: 90px; // needed for IE, where min() is not supported.
      width: min(90px, 15vw);
      height: auto;
    }
  }

  .titles {
    float: left;
    padding-top: 10px;

    .title1 {
      font-family: "Hammersmith One", sans-serif;
      font-size: 50px;
      line-height: 50px;
      font-size: min(50px, 8vw);
      line-height: min(50px, 8vw);
    }
    .title2 {
      font-size: 25px;
      line-height: 25px;
      font-size: min(25px, 4vw);
      line-height: min(25px, 4vw);
    }
  }

  .socials {
    position: absolute;
    right: 10px;
    top: 10px;
    right: min(10px, 2vw);
    top: min(10px, 2vw);

    img {
      width: min(30px, 6vw);
      height: auto;
      margin-top: min(5px, 1vw);
      margin-right: min(10px, 2vw);
    }
  }

  a,
  a:hover,
  a:visited {
    color: black;
    text-decoration: none;
  }

  &:after {
    /* clear:both */
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
  }
}

#main {
  max-width: $main-width;
  margin-left: auto;
  margin-right: auto;

  li {
    margin: 3px 20px;
    list-style: disc outside;
  }
}

#footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #701301;
  color: #f9eec4;
  text-align: center;
  font-size: 85%;

  a {
    color: white;
  }
}

h1 {
  height: 130px;
  padding: 50px;
  padding-right: 5px;
  box-sizing: border-box;
  font-size: 150%;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(34, 0, 0, 0.75) 90%, rgba(68, 0, 0, 0.5) 100%);
  color: white;
  display: flex;
  align-items: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("/assets/images/bg1.jpg") no-repeat center right / cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

h2 {
  padding: 10px 25px;
  line-height: 1.5;
  color: #fff;
  background-color: #222222;
  font-size: 110%;
  position: relative;
  margin-top: 1em;

  &:before {
    content: "";
    display: block;
    width: 5px;
    height: 60%;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #c00000;
  }
}

p {
  margin: 1em 0;
}

@media screen and (max-width: $max-tablet-width) {
  p {
    padding: 0 8px;
  }
}
