* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 100%;
}

body {
  font-family: sans-serif;
}

header {
  max-width: $main-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  img {
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;

    &#owls-logo {
      width: 90px; // needed for IE, where min() is not supported.
      width: min(90px, 15vw);
      height: auto;
    }
  }

  .titles {
    float: left;
    padding-top: 10px;

    .title1 {
      font-family: "Hammersmith One", sans-serif;
      font-size: 50px;
      line-height: 50px;
      font-size: min(50px, 8vw);
      line-height: min(50px, 8vw);
    }
    .title2 {
      font-size: 25px;
      line-height: 25px;
      font-size: min(25px, 4vw);
      line-height: min(25px, 4vw);
    }
  }

  .socials {
    position: absolute;
    right: 10px;
    top: 10px;
    right: min(10px, 2vw);
    top: min(10px, 2vw);

    img {
      width: min(30px, 6vw);
      height: auto;
      margin-top: min(5px, 1vw);
      margin-right: min(10px, 2vw);
    }
  }

  a,
  a:hover,
  a:visited {
    color: black;
    text-decoration: none;
  }

  &:after {
    /* clear:both */
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
  }
}

#main {
  max-width: $main-width;
  margin-left: auto;
  margin-right: auto;

  li {
    margin: 3px 20px;
    list-style: disc outside;
  }
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #701301;
  color: #f9eec4;
  text-align: center;
  font-size: 85%;

  a {
    color: white;
  }
}

h1 {
  height: 130px;
  padding: 50px;
  padding-right: 5px;
  box-sizing: border-box;
  font-size: 150%;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(34, 0, 0, 0.7) 50%, rgba(68, 0, 0, 0.5) 100%);
  color: white;
  display: flex;
  align-items: center;
  position: relative;

  @include mq(tablet) {
    height: auto;
    padding: 1em 0 1em 25px;
    font-size: 125%;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("/assets/images/bg0.jpg") no-repeat center right / cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &#bg1:before {
    background-image: url("/assets/images/bg1.jpg");
  }
  &#bg2:before {
    background-image: url("/assets/images/bg2.jpg");
  }
  &#bg3:before {
    background-image: url("/assets/images/bg3.jpg");
  }
  &#bg4:before {
    background-image: url("/assets/images/bg4.jpg");
  }
}

h2 {
  padding: 10px 25px;
  line-height: 1.5;
  color: #fff;
  background-color: #222222;
  font-size: 110%;
  position: relative;
  margin-top: 1em;

  &:before {
    content: "";
    display: block;
    width: 5px;
    height: 60%;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #c00000;
  }
}

p {
  margin: 1em 0;

  @include mq(tablet) {
    padding: 0 8px;
  }
}

h2.toppage-heading {
  background: none;
  color: #c00000;

  padding-left: 10px;
  font-size: 120%;

  @include mq(tablet) {
    text-align: center;
  }

  &:before {
    display: none;
  }
}

#main ul.top-sns-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  li {
    margin: 5px 0;
    width: 20%;
    list-style: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px silver;

    text-align: center;

    @include mq(tablet) {
      width: 25%;
    }
    @include mq(mobile) {
      width: 30%;
    }

    a:any-link {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 30px 0;
      color: white;
      text-decoration: none;
      font-weight: bold;

      @include mq(tablet) {
        padding: 25px 0;
        font-size: 90%;
      }
      @include mq(mobile) {
        padding: 20px 0;
        font-size: 80%;
      }
    }

    img {
      height: 40px;
      width: 40px;

      @include mq(tablet) {
        height: 35px;
        width: 35px;
      }
      @include mq(mobile) {
        height: 30px;
        width: 30px;
      }
    }

    &#facebook-box {
      background-color: rgba(24, 119, 242, 1);
    }
    &#twitter-box {
      background-color: #1da1f2;
    }
    &#instagram-box {
      // From https://stackoverflow.com/a/37751377
      background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    }
  }
}

#main .top-games {
  overflow-x: auto;
  white-space: nowrap;

  @include mq(mobile) {
    overflow-x: visible;
    white-space: normal;
  }

  .top-games-unit {
    display: inline-block;
    vertical-align: top;

    @include mq(mobile) {
      display: block;
      // instead, make it horizontally scrollbale in each unit.
      .top-games-container {
        overflow-x: auto;
        white-space: nowrap;
      }
    }

    h2 {
      margin-top: 0;
      padding-left: 10px;
      &#next-games {
        background: #c00000;
      }
      &#recent-games {
        background: darkred;
      }
      &:before {
        display: none;
      }
    }

    .top-games-container p {
      display: inline-block;

      min-width: 350px;
      margin: 5px 10px;

      a {
        display: block;
        border: 2px silver solid;
        padding: 10px;
        box-shadow: 2px 2px 2px silver;
        text-align: center;

        text-decoration: none;
        color: inherit;

        .sub-info {
          color: #333;
        }
        .main-info {
          font-size: 120%;
        }
        .score {
          font-size: 130%;
          font-weight: bold;
        }

        &:hover {
          background: #ffffe0;
        }
      }

      @include mq(mobile) {
        min-width: 250px;
        margin-right: 0;
        margin-left: 0;

        a {
          padding: 3px;
          .sub-info {
            font-size: 80%;
          }
          .main-info {
            font-size: 95%;
          }
          .score {
            font-size: 110%;
          }
        }
      }
    }
  }
}
