$bar-height: 55px;
$sub-item-height: 40px;

#navbar {
    height: $bar-height;
    background: #701301;
}

#menu {
    max-width: $main-width;
    margin-left: auto;
    margin-right: auto;
    background: #701301;
    display: flex;
    justify-content: space-between;

    & > li {
        width: 100%;
        height: $bar-height;
        background: #c00000;
        position: relative;
        border-right: solid 1px white;

        &:first-child {
            border-left: solid 1px white;
        }

        & > a {
            display: block;
            width: 100%;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
            text-decoration: none;
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: solid 5px #c00000;
            background-image: url("/assets/images/tirangle-for-nav-bar.png");
            background-repeat: no-repeat;
            background-position: center bottom;

            &:hover {
                border-bottom-color: #fcb103;
            }
        }

        ul.sub {
            position: absolute;
            width: 100%;
            z-index: 1;

            li {
                background: none;
                background-color: #000000;
                border-top: 1px silver solid;
                height: $sub-item-height;
                width: 100%;
                z-index: 1;

                a {
                    display: block;
                    width: 100%;
                    line-height: $sub-item-height;
                    text-align: center;
                    font-weight: bold;
                    color: #ffffff;
                    text-decoration: none;

                    &:hover {
                        background-color: #660000;
                    }
                }
            }
        }
    }

    &:after {
        /* clear:both */
        height: 0;
        visibility: hidden;
        content: "";
        display: block;
        clear: both;
    }
}

@media screen and (max-width: $max-tablet-width) {
    // Do not expand menus on touch centric devices.
    #menu li ul.sub * {
        display: none;
    }
}

@media screen and (max-width: $max-mobile-width) {
    #menu {
        font-size: 90%;
    }
}
