$bar-height: 55px;
$sub-item-height: 40px;

#navbar {
    height: $bar-height;
    background: #701301;
}

#menu {
    max-width: $main-width;
    margin-left: auto;
    margin-right: auto;
    background: #701301;
    display: flex;
    justify-content: space-between;

    @include mq(mobile) {
        font-size: 85%;
    }

    & > li {
        width: 100%;
        height: $bar-height;
        background: #c00000;
        position: relative;
        border-right: solid 1px white;

        &:first-child {
            border-left: solid 1px white;
        }

        & > a {
            display: block;
            width: 100%;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
            text-decoration: none;
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: solid 5px #c00000;

            &:hover {
                border-bottom-color: #fcb103;
            }

            &:after {
                content: "";
                position: absolute;
                left: 50%;
                margin-left: -5px;
                bottom: -3px;
                border-style: solid;
                border-color: transparent;
                border-top-color: white;
                border-width: 9px 5px;
                width: 0;
                height: 0;
            }
        }

        ul.sub {
            position: absolute;
            width: 100%;
            z-index: 1;

            li {
                background: none;
                background-color: #000000;
                border-top: 1px silver solid;
                height: $sub-item-height;
                width: 100%;
                z-index: 1;

                a {
                    display: block;
                    width: 100%;
                    line-height: $sub-item-height;
                    text-align: center;
                    font-weight: bold;
                    color: #ffffff;
                    text-decoration: none;

                    &:hover {
                        background-color: #660000;
                    }
                }
            }

            @include mq(tablet) {
                // Do not expand menus on touch centric devices.
                display: none !important;
            }

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                // CSS Hack to apply only on IE 10 and 11
                // See https://stackoverflow.com/questions/18907131/detecting-ie11-using-css-capability-feature-detection
                display: none !important;
            }
        }
    }

    &:after {
        /* clear:both */
        height: 0;
        visibility: hidden;
        content: "";
        display: block;
        clear: both;
    }
}
