.welcome-to-owls {
    background-image: url("/assets/images/recruiting/welcome-bg.jpg");
    background-size: cover;
    background-position: center;

    padding: 0 0 1em;

    p {
        margin: 1.5em 20px;
        text-indent: 1em;
    }
}
