.staff-list {
    display: flex;
    flex-wrap: wrap;

    .staff-box {
        width: 50%;
        min-width: 450px; // FIXME support more small width
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;

        .staff-main {
            display: flex;

            img {
                display: block;
                flex-grow: 0;
                margin: 10px;
            }

            dl {
                margin-right: 10px;
                flex-grow: 1;

                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;

                dt,
                dd {
                    margin-top: 10px;
                    border-top: dotted 1px silver;
                }

                dt:last-of-type,
                dd:last-of-type {
                    padding-bottom: 10px;
                    border-bottom: dotted 1px silver;
                }

                dt {
                    width: 40%;
                    font-weight: bold;
                }

                dd {
                    width: 60%;
                }
            }
        }

        .staff-content {
            p {
                margin: 0.3em 0;
                font-size: 90%;
            }

            h3 {
                color: #701301;
            }
        }
    }
}
