.staff-list {
    display: flex;
    flex-wrap: wrap;

    .staff-box {
        width: 50%;
        min-width: $max-mobile-width;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;

        @include mq(mobile) {
            min-width: 100%;
        }

        .staff-main {
            display: flex;
            align-items: flex-start;

            img {
                display: block;
                flex-grow: 0;
                margin: 10px;

                width: 150px;
                height: auto;

                @include mq(mobile) {
                    width: 125px;
                }
            }

            dl {
                margin-right: 10px;
                flex-grow: 1;

                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;

                dt,
                dd {
                    margin-top: 10px;
                    border-top: dotted 1px silver;
                }

                dt:last-of-type,
                dd:last-of-type {
                    padding-bottom: 10px;
                    border-bottom: dotted 1px silver;
                }

                dt {
                    width: 25%;
                    font-weight: bold;
                }

                dd {
                    width: 75%;
                }

                @include mq(mobile) {
                    dd {
                        margin-top: 0;
                        border-top: none;
                    }

                    dt:last-of-type {
                        padding-bottom: 0;
                        border-bottom: none;
                    }

                    dt {
                        width: 100%;
                    }

                    dd {
                        width: 100%;
                    }
                }
            }
        }

        .staff-content {
            margin-top: 1em;

            p {
                margin: 0.3em 0;
                font-size: 90%;
                padding: 0;

                &:first-of-type {
                    margin-top: 0;
                }
            }

            h3 {
                color: #701301;
            }
        }

        .staff-main + .staff-content {
            margin-top: 0;
        }
    }
}

.about-team-box {
    width: 80%;
    margin: 20px auto;
    background: black;
    color: white;

    display: flex;

    @include mq(tablet) {
        width: 95%;
        margin: 10px auto;
    }
    @include mq(mobile) {
        display: block; // clear flex
    }

    .image-box {
        width: 60%;
        @include mq(mobile) {
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
            display: block; // avoid extra bottom space. https://stackoverflow.com/questions/5804256
        }
    }

    .about-text {
        width: 30%;
        padding: 0 5%; // 5% = (100 - 60 (image-box) - 30 (this)) / 2. TODO compute.

        display: flex;
        flex-wrap: wrap;
        align-content: center;

        @include mq(tablet) {
            width: 36%;
            padding: 0 2%; // 2% = (100 - 60 (image-box) - 36 (this)) / 2. TODO compute.
            font-size: 80%;
        }

        @include mq(mobile) {
            width: 90%;
            padding: 20px 5%;
        }

        .about-title {
            font-weight: bold;
            width: 100%;
        }

        .about-detail {
            margin: 15px 0;
            width: 100%;
        }

        .about-link {
            border: solid white 1px;
            border-radius: 13px;
            width: 80px;
            padding-left: 15px;

            &:hover {
                background-color: #c00000;
            }

            a {
                display: block;
                width: 100%;
                position: relative;
                font-size: 12px;
                line-height: 28px;

                &:link,
                &:visited,
                &:hover {
                    color: white;
                    text-decoration: none;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 8px;
                    right: 6px;
                    border-style: solid;
                    border-color: transparent;
                    border-left-color: white;
                    border-width: 5px 10px;
                    width: 0;
                    height: 0;
                }
            }
        }
    }
}

.team-philosophy-container {
    &#pride-of-nishi {
        background-image: url("/assets/images/team/pride-of-nishi-bg.jpg");
    }
    &#about-owls {
        background-image: url("/assets/images/team/about-owls-bg.jpg");
        background-color: #220000;
    }
    background-color: #222222;
    background-size: cover;
    background-position: center;

    padding: 150px 75px;

    color: white;
    line-height: 2;

    @include mq(tablet) {
        padding: 100px 50px;
    }
    @include mq(mobile) {
        padding: 25px;
    }

    h2 {
        font-size: 230%;
        padding: 20px 0;

        @include mq(mobile) {
            margin: 0;
        }

        // clear default h2 styles
        background: none;
        &:before {
            display: none;
        }
    }

    p {
        font-family: serif;

        @include mq(mobile) {
            padding: 0;
        }
    }
}

.team-history-main-container {
    h2 {
        margin: 0;
        padding: 0;
        background: none;
        color: black;
        font-size: 150%;
        border-bottom: 3px solid #701301;

        span.year {
            font-family: serif;
            font-size: 150%;
            font-style: italic;
            padding-right: 10px;
        }

        &:before {
            display: none;
        }
    }

    img {
        display: block;
        position: relative;
        z-index: 1;
        height: 250px;

        @include mq(tablet) {
            float: none !important;
            margin: 0 auto !important;
            width: auto;
            max-height: 200px;
        }
    }

    p {
        margin-left: 5px;
        margin-right: 5px;

        @include mq(tablet) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &:nth-child(odd) {
        background-color: rgb(209, 209, 209);
        img {
            float: right;
            margin-left: 10px;
        }
    }

    &:nth-child(even) {
        background-color: rgb(236, 236, 236);
        img {
            float: left;
            margin-right: 10px;
        }
    }
    p:last-child {
        margin-bottom: 0;
        padding-bottom: 1em;
    }

    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

table.team-member-table {
    margin: 1em auto;

    td,
    th {
        border-top: 1px solid #ddd;
        padding: 5px 20px;
        white-space: nowrap;

        text-align: center;

        @include mq(mobile) {
            padding: 3px 5px;
            font-size: 80%;
        }
    }

    tr {
        &:nth-child(odd) {
            background-color: #f9f9f9;
        }

        &:hover {
            background-color: #f3f3f3;
        }
    }
}
