$desktop-content-width: 80%;
$mobile-content-width: 90%;

// querying #main to override main style.
#main ul.topics-list {
    display: flex;
    flex-wrap: wrap;

    li {
        list-style: none;
        width: 30%;
        // -2%-[box(30%)]-3%-[box(30%)]-3%-[box(30%)]-2%-
        margin-left: 2%;
        margin-right: 1%;
        margin-bottom: 50px;

        border-bottom: silver 2px solid;

        @include mq(mobile) {
            width: 47%;
            // -2%-[box(47%)]-2%-[box(47%)]-2%-
            margin-left: 2%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        a {
            text-decoration: none;
            color: inherit;
            height: 100%;

            display: flex;
            flex-direction: column;

            position: relative;

            img {
                display: block;
                width: 100%;
                height: auto;
            }

            h3 {
                flex-grow: 1;
            }

            .topics-list-footer {
                margin-top: 0.5em;
                font-size: 80%;
                text-align: right;
                color: #666;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -2px;
                border-top: 2px #701301 solid;
                width: 25%;
            }
        }
    }
}

.topics-content-header {
    width: $desktop-content-width;
    margin: 1em auto 1.5em;
    display: flex;

    @include mq(tablet) {
        width: $mobile-content-width;
    }

    .date {
        display: block;
        color: #701301;
        font-weight: bold;

        border-bottom: 3px solid#701301;
    }

    .tags {
        display: block;
        flex-grow: 1;
        text-align: right;
        color: #999;

        border-bottom: 3px solid silver;

        a:any-link {
            text-decoration: none;
            color: inherit;
        }
    }
}

.topics-content {
    width: $desktop-content-width;
    margin: 1em auto 3em;

    p.footnote {
        text-indent: -1em;
        padding-left: 2em;
        color: #555555;
        font-size: 75%;
    }

    @include mq(mobile) {
        width: $mobile-content-width;
    }
}

.topics-navigation {
    width: $desktop-content-width;

    margin: 1em auto;

    clear: both;

    a {
        display: block;
        box-sizing: border-box;
        width: 45%;
        font-size: 90%;

        &.prev {
            float: left;
            padding-left: 3px;
        }

        &.next {
            float: right;
            text-align: right;
            padding-right: 3px;
        }

        &:any-link {
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &:after {
        height: 0;
        visibility: hidden;
        content: "";
        display: block;
        clear: both;
    }

    @include mq(tablet) {
        width: $mobile-content-width;
    }
}

.topics-content.visit-obog {
    width: 100%;

    .topic-heading {
        padding-left: 10%;
        @include mq(tablet) {
            padding-left: 5%;
        }
        @include mq(mobile) {
            padding-left: 0;
            text-align: center;
        }

        .topic-lead {
            // TODO something more stylish.
        }

        .topic-title {
            font-size: 300%;
            font-size: min(300%, 7vw);
            margin-top: 1em;
            margin-bottom: 2em;
            font-family: "Noto Serif JP", serif;
            font-weight: bold;
        }
    }

    p,
    dl {
        width: 80%;
        @include mq(tablet) {
            width: 90%;
        }
        @include mq(mobile) {
            width: 100%;
            box-sizing: border-box;
        }
        margin: 1em auto;
        line-height: 1.8;
        color: #222;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
            sans-serif;
    }

    h3 {
        margin-left: 10%;
        font-size: 250%;
        font-size: min(250%, 5vw);
        font-family: "Noto Serif JP", serif;
        font-weight: bold;
        white-space: nowrap;

        padding-top: 2em;

        clear: both;

        @include mq(tablet) {
            margin-left: 5%;
        }
        @include mq(mobile) {
            margin-left: 8px;
            font-weight: 900;
        }
    }

    sup {
        font-size: 75%;
    }

    .image-box {
        &.right {
            float: right;
            padding-left: 2em;
            margin-right: 10%;
            @include mq(tablet) {
                margin-right: 5%;
            }
        }
        &.left {
            float: left;
            padding-right: 2em;
            margin-left: 10%;
            @include mq(tablet) {
                margin-left: 5%;
            }
        }
        &.w200 {
            max-width: 200px;
        }

        width: 40%;
        box-sizing: border-box;
        padding-top: 1.25em;
        padding-bottom: 2em;

        font-size: 80%;
        color: #555;

        strong {
            color: black;
            font-size: 120%;
        }

        img {
            width: 100%;
            height: auto;
        }

        @include mq(mobile) {
            margin: 1em auto;
            width: 80%;
            box-sizing: border-box;

            &.right,
            &.left {
                margin: 0 auto;
                padding-right: 0;
                padding-left: 0;
                float: none;
            }
        }
    }

    .column {
        width: 70%;
        margin: 3em auto;
        border: #701301 2px solid;
        position: relative;
        box-sizing: border-box;

        @include mq(tablet) {
            width: 85%;
        }

        h3 {
            padding-top: max(1em, 2rem);
            margin-left: 0.5em;
            @include mq(mobile) {
                margin-left: 5px;
            }
        }

        h4 {
            font-size: 150%;
            margin-left: 1.5em;
            @include mq(mobile) {
                margin-left: 5px;
            }
        }

        p,
        dl {
            margin-left: 3em;
            margin-right: 3em;
            width: unset;
            @include mq(mobile) {
                margin-left: 0;
                margin-right: 0;
                padding: 0 5px;
                width: 100%;
                box-sizing: border-box;
            }
        }

        dl {
            dt {
                font-weight: bold;
            }
            dd {
                margin-bottom: 0.7em;
            }
        }

        &:before {
            content: "COLUMN";
            display: block;
            position: absolute;
            top: -1px;
            left: -1px;
            background-color: #701301;
            color: white;
            padding: 0 30px;
            font-weight: bold;
        }
    }
}
