// querying #main to override main style.
#main ul.topics-list {
    display: flex;
    flex-wrap: wrap;

    li {
        list-style: none;
        width: 30%;
        // -2%-[box(30%)]-3%-[box(30%)]-3%-[box(30%)]-2%-
        margin-left: 2%;
        margin-right: 1%;
        margin-bottom: 50px;

        border-bottom: silver 2px solid;

        @include mq(mobile) {
            width: 47%;
            // -2%-[box(47%)]-2%-[box(47%)]-2%-
            margin-left: 2%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        a {
            text-decoration: none;
            color: inherit;
            height: 100%;

            display: flex;
            flex-direction: column;

            position: relative;

            img {
                display: block;
                width: 100%;
                height: auto;
            }

            h3 {
                flex-grow: 1;
            }

            .topics-list-footer {
                margin-top: 0.5em;
                font-size: 80%;
                text-align: right;
                color: #666;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -2px;
                border-top: 2px #701301 solid;
                width: 25%;
            }
        }
    }
}

.topics-content-header {
    width: 80%;
    margin: 1em auto 1.5em;
    display: flex;

    @include mq(mobile) {
        width: 90%;
    }

    .date {
        display: block;
        color: #701301;
        font-weight: bold;

        border-bottom: 3px solid#701301;
    }

    .tags {
        display: block;
        flex-grow: 1;
        text-align: right;
        color: #999;

        border-bottom: 3px solid silver;

        a:any-link {
            text-decoration: none;
            color: inherit;
        }
    }
}

.topics-content {
    width: 80%;
    margin: 1em auto 3em;

    p.footnote {
        text-indent: -1em;
        padding-left: 2em;
        color: #555555;
        font-size: 75%;
    }

    @include mq(mobile) {
        width: 90%;
    }
}

.topics-content.visit-obog {
    width: 100%;

    .topic-heading {
        padding-left: 10%;
        @include mq(mobile) {
            padding-left: 0;
            text-align: center;
        }

        .topic-lead {
            // TODO something more stylish.
        }

        .topic-title {
            font-size: 300%;
            font-size: min(300%, 7vw);
            margin-top: 1em;
            margin-bottom: 2em;
            font-family: "Noto Serif JP", serif;
            font-weight: bold;
        }
    }

    p {
        width: 80%;
        @include mq(mobile) {
            width: 90%;
        }
        margin: 1em auto;
        line-height: 1.8;
        color: #222;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
            sans-serif;
    }

    h3 {
        margin-left: 8%;
        @include mq(mobile) {
            margin-left: 0;
        }
        text-indent: -1em;
        padding-left: 1em;
        font-size: 250%;
        font-size: min(250%, 4.9vw);
        font-family: "Noto Serif JP", serif;
        font-weight: bold;
        white-space: nowrap;

        padding-top: 2em;

        clear: both;
    }

    .image-box {
        &:before {
            height: 0;
            visibility: hidden;
            content: "";
            display: block;
            clear: both;
        }
        &.right {
            float: right;
            padding-left: 2em;
            margin-right: 10%;
        }
        &.left {
            float: left;
            padding-right: 2em;
            margin-left: 10%;
        }

        width: 40%;
        box-sizing: border-box;
        padding-top: 1.25em;
        padding-bottom: 1.25em;

        font-size: 80%;
        color: #555;

        strong {
            color: black;
            font-size: 120%;
        }

        img {
            width: 100%;
            height: auto;
        }

        @include mq(mobile) {
            margin: 1em auto;
            width: 80%;
            box-sizing: border-box;

            &.right,
            &.left {
                padding-right: 0;
                padding-left: 0;
                float: none;
            }
        }
    }
}
