---
---

$main-width: 1080px;
$max-mobile-width: 480px;
$max-tablet-width: 768px;

@import "main";

@import "breadcrumb";
@import "game";
@import "navbar";
@import "recruiting";
@import "slide";
@import "team";
