---
title: FAQ
microdarta_html_type: https://schema.org/FAQPage
---
{% include breadcrumb.html list="/message/, メッセージ" %}

<h1 id="bg2">FAQ</h1>

<h2>よくある質問</h2>
<p>
    <a href="https://www.instagram.com/nishi_owls/">Instagram</a>
    や
    <a href="https://twitter.com/nishi__owls">twitter</a> でも質問を受け付けています。
    お気軽にお声掛けください！
</p>

<div class="message-faq">
    {% for item in site.data.faq %}
    <div class="faq-box" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <h3 itemprop="name">{{item.question}}</h3>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <p itemprop="text">{{ item.answer | newline_to_br }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<p><a href="index.html">メッセージのトップに戻る</a></p>