<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <!-- Adding this temporary while development -->
    <meta name="robots" content="noindex, nofollow" />

    <title>{{ page.title }}{% if page.url != "/" %} | {% endif %}{{ site.title }}</title>
    <script type="text/javascript" src="/assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>

    <!-- Web font for heading -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo title=false %}
</head>

<body>
    {% include header.html %}
    <div id="main">
        {{ content }}
    </div>
    {% include footer.html %}
</body>

</html>