<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Adding this temporary while development -->
    <meta name="robots" content="noindex, nofollow" />

    <title>{{ page.title }}{% if page.url != "/" %} | {% endif %}{{ site.title }}</title>
    <script type="text/javascript" src="/assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo title=false %}
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
