---
layout: default
---

{% assign year = page.date | date : "%Y" | plus: 0 %}
{% assign gameyear = site.game_years | where: "year", year | first %}
{% assign breadlist = "/game/, 試合結果, " %}
{% assign breadlist = breadlist | append: gameyear.url | append: ", " | append: year | append: "年の試合結果" %}
{% include breadcrumb.html list=breadlist %}

<h1 id="bg3">{{ page.game_name }}<br />vs. {{ page.vs }}</h1>

<div class="game-navigation">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}" class="prev">
        &laquo; 前の試合<br />
        {{ page.previous.date | date: "%Y年%m月%d日" }}<br />
        vs. {{page.previous.vs}}
    </a>
    {% endif %}
    {% if page.next.url %}
    <a href="{{page.next.url}}" class="next">
        次の試合 &raquo;<br />
        {{ page.next.date | date: "%Y年%m月%d日" }}<br />
        vs. {{page.next.vs}}
    </a>
    {% endif %}
    <p>
        {{ page.game_name }}<br />
        {{ page.date | date: "%Y年%m月%d日" }} {{page.start_at}}
        {% if page.place %}<br /> at {{page.place}}{% endif %}
    </p>
</div>

<table class="game-result-detail">
    <tr>
        <th></th>
        {% for _ in page.our_scores %}
        <th>{% if forloop.index >= 5 %}TB{% else %}{{ forloop.index }}Q{% endif %}</th>
        {% endfor %}
        <th></th>
    </tr>
    <tr>
        <th>都立西高 OWLS</th>
        {% for score in page.our_scores %}
        <td>{{ score }}</td>
        {% endfor %}
        <th>{{ page.our_score }}</th>
    </tr>
    <tr>
        <th>{{ page.vs_full }}</th>
        {% for score in page.vs_scores %}
        <td>{{ score }}</td>
        {% endfor %}
        <th>{{ page.vs_score }}</th>
    </tr>
</table>

<div class="game-report-contnt">
    {{ content }}
</div>

<div class="game-navigation">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}" class="prev">
        &laquo; 前の試合
    </a>
    {% endif %}
    {% if page.next.url %}
    <a href="{{page.next.url}}" class="next">
        次の試合 &raquo;
    </a>
    {% endif %}
</div>

<p><a href="{{ gameyear.url }}">{{ year }}年の試合結果一覧へ</a></p>