---
layout: default
---

{% include breadcrumb.html list="/team/, チーム, /team/staff.html, コーチ・スタッフ" %}

<h1>{{ page.name }}<br />{{ page.position }}</h1>

<div class="staff-head">
    <img src="/assets/images/staff/{{ page.photo }}" width=150 alt="顔写真" />

    <dl>
        {% if page.year %}
        <dt>年度</dt>
        <dd>{{ page.year }}</dd>
        {% endif %}
        {% if page.play_position %}
        <dt>主なポジション</dt>
        <dd>{{ page.play_position }}</dd>
        {% endif %}
    </dl>
</div>

<div class="staff-content">
    {{ content | markdownify }}
</div>

<p><a href="/team/staff.html">スタッフ一覧へ戻る</a></p>